<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="button" id="login" onclick="login()">
</body>
</html>
<script>
    var xmlHttp;
    var url = 'http://192.168.0.46/manage/login';
    var data = {"username": "admin",
                "password": 123456,
                "rememberMe": false};
    function createxmlHttpRequest(){
        if(window.ActiveXObject){
            xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
        }else if(window.XMLHttpRequest)
            xmlHttp=new XMLHttpRequest();
    }
    function login() {
        createxmlHttpRequest();
        xmlHttp.open("POST",url);
        xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        xmlHttp.send(data);
        xmlHttp.onreadystatechange=function(){
            if(xmlHttp.readyState==4&&xmlHttp.status==200){
                alert('success');
            }else{
                alert('fail');
            }
        }
    }
</script>